@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600&display=swap');

:root {
    --main-color: #22BAA0;
    --color-dark: #34425A;
    --text-grey: #B0B0B0;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Merriweather', sans-serif;
}

body {
    background: #212121;
}

#menu-toggle {
    display: none;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 165px;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 100;
    background: var(--color-dark);
    transition: left 300ms;
}

.side-menu ul li:hover {
    background: #222222;
}

.side-header {
    box-shadow: 0px 5px 5px -5px rgb(0 0 0 /10%);
    background: var(--main-color);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-header h3, side-head span {
    color: #fff;
    font-weight: 400;
}

.side-content {
    margin-top: 20%;
    height: 100vh;
    overflow: auto;
    background-color: #131313;
}

.side-content::-webkit-scrollbar {
  width: 5px;
}

.side-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
.side-content::-webkit-scrollbar-thumb {
  background: #b0b0b0; 
  border-radius: 10px;
}

.side-content::-webkit-scrollbar-thumb:hover {
  background: #464646; 
}

.profile {
    text-align: center;
    padding: 2rem 0rem;
}

.bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    background-size: cover;
}

.profile-img {
    height: 80px;
    width: 80px;
    display: inline-block;
    margin: 0 auto .5rem auto;
    border: 3px solid #fcd5829d;
}

.profile h4 {
    color: #fbcf8b;
    font-weight: 500;
}

.profile small {
    color: hsl(36, 48%, 80%);
    font-weight: 600;
}

.sidebar {
    
}

.side-menu ul {
    text-align: center;
}

.side-menu a {
    display: block;
    padding: 1.2rem 0rem;
}

.side-menu a.active {
    background: #212121;
}

.side-menu a.active span, .side-menu a.active small {
    color: #fbcf8b;
}

.side-menu a span {
    display: block;
    text-align: center;
    font-size: 1.7rem;
}

.side-menu a span, .side-menu a small {
    color: hsl(36, 93%, 76%);
}

#menu-toggle:checked ~ .sidebar {
    width: 60px;
}

#menu-toggle:checked ~ .sidebar .side-header span {
    display: none;
}

#menu-toggle:checked ~ .main-content {
    margin-left: 60px;
    width: calc(100% - 60px);
}

#menu-toggle:checked ~ .main-content header {
    left: 60px;
}

#menu-toggle:checked ~ .sidebar .profile,
#menu-toggle:checked ~ .sidebar .side-menu a small {
    display: none;
}

#menu-toggle:checked ~ .sidebar .side-menu a span {
    font-size: 1.3rem;
}


.main-content {
    margin-left: 165px;
    width: calc(100% - 165px);
    transition: margin-left 300ms;
}

header {
    position: fixed;
    right: 0;
    top: 0;
    left: 165px;
    z-index: 100;
    height: 60px;
    box-shadow: 0px 5px 5px -5px rgb(0 0 0 /10%);
    background: #212121;
    transition: left 300ms;
}

.header-content, .header-menu {
    display: flex;
    align-items: center;
    color: #fbcf8b;
}

.header-content {
    justify-content: space-between;
    padding: 0rem 1rem;
}

.header-content label:first-child span {
    font-size: 1.3rem;
}

.header-content label {
    cursor: pointer;
}

.header-menu {
    justify-content: flex-end;
    padding-top: .5rem;
}

.header-menu label,
.header-menu .notify-icon {
    margin-right: 2rem;
    position: relative;
}

.header-menu label span,
.notify-icon span:first-child {
    font-size: 1.3rem;
}

.notify-icon span:last-child {
    position: absolute;
    background: var(--main-color);
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right: -5px;
    top: -5px;
    color: #fff;
    font-size: .8rem;
    font-weight: 500;
}

.user {
    display: flex;
    align-items: center;
}
.user a {
    color: #fbcf8b;
    font-weight: bold;
}

.user div, .client-img {
    height: 40px;
    width: 40px;
    margin-right: 1rem;
}

.user span:last-child {
    display: inline-block;
    margin-left: .3rem;
    font-size: .8rem;
}

main {
    margin-top: 60px;
}

.page-header {
    padding: 1.3rem 1rem;
    background: #2c2c2c;
    border-bottom: 1px solid #dee2e8;
}

.page-header h1, .page-header small {
    color: #ffe054;
}

.page-content {
    padding: 1.3rem 1rem;
    background: #212121;
}

.analytics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: .5rem;
    margin-bottom: 2rem;
}

.card {
    box-shadow: 0px 5px 5px -5px rgb(0 0 0 / 10%);
    background: #131313;
    padding: 1rem;
    border-radius: 3px;
}

.card-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-head h2 {
    color: #dbb538;
    font-size: 1.8rem;
    font-weight: 500;
}

.card-head span {
    font-size: 3.2rem;
    color: var(--text-grey);
}

.card-progress small {
    color: #f7e5aaa9;
    font-size: .8rem;
    font-weight: 600;
}

.card-indicator {
    margin: .7rem 0rem;
    height: 10px;
    border-radius: 4px;
    background: #e9edf2;
    overflow: hidden;
}

.indicator {
    height: 10px;
    border-radius: 4px;
}

.indicator.one {
    background: #fbcf8b;
}

.indicator.two {
    background: #fbcf8b;
}

.indicator.three {
    background: #fbcf8b;
}

.indicator.four {
    background: #fbcf8b;
}

.blog-container {
    width: 100%;
    margin: auto;
    border: 1px solid #4e4e4e0a;
    padding: 1% 2%;
    background-color: #131313;
  }
  
  .blog-container h1 {
    color:hsl(46, 100%, 61%);
    text-align: left;
    padding: 1% 0;
  }

  .blog-actions {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.blog-button {
    background-color: #f5e559; 
    color: #000;
    font-weight: 600;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.blog-button:hover {
    background-color: #c7b82e; 
}
 
.modal {
    display: none; 
    position: fixed; 
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgb(0,0,0); 
    background-color: rgba(0, 0, 0, 0.4); 
    backdrop-filter: blur(5px);
}

.modal-content {
    background-color: #171717;
    margin: 10% auto; 
    padding: 20px;
    border: 1px solid #f0c83844;
    width: 40%; 
    border-radius: 10px;
    color: #edbc34;
}


#closeModal {
    color: #e9cc89;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#closeModal:hover,
#closeModal:focus {
    color: rgb(241, 161, 0);
    text-decoration: none;
    cursor: pointer;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ebba2620;
    box-sizing: border-box; 
    color: white;
    background-color: rgb(45, 45, 45);
}

button.submitBlog {
    background-color: #f6cb3d;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    font-weight: bold;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.submitBlog:hover {
    background-color: #f5e559;
}

.blog-list {
    border: 1px solid #4f4f4fd3;
    width: 60%;
    margin: auto;
    background-color: #131313;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 5%;
    max-height: 20vh;
    overflow-y: scroll;
}

/* Change the scrollbar color */
.blog-list::-webkit-scrollbar {
    width: 10px;
}

.blog-list::-webkit-scrollbar-track {
    background: #c7c7c7;
}

.blog-list::-webkit-scrollbar-thumb {
    background: #3d3d3d;
}

.blog-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.blog-list h2 {
    color: #f5e559;
    padding: 1% 0;
}

.blog-container hr {
    border: 1px solid #54505050;
    width: 100%;
    margin: 1% 0;
}

.blog-entry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1c1c1c;
    border-radius: 8px;
    border: 1px solid #efb4362b;
    color: rgb(255, 214, 126);
    margin: 1% auto 1%;
    width: 98%;
    text-align: center;
    padding: 1%;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}


.blog-title {
    font-weight: bold;
    flex-grow: 1; 
}

.fas .fa-trash {
    color: #f80000;
    margin: 0 5px;
    cursor: pointer;
}

.blog-actions button {
    background-color: #fbdb7cd3;
    padding: 5px 10px;
    margin: 0 5px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex-shrink: 0; 
}


.edit-blog { background-color: #ffc107; }
.update-blog { background-color: #007bff; } 
.delete-blog { background-color: #dc3545; }


@media only screen and (max-width: 1200px) {
    .analytics {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 768px) {
    .analytics {
        grid-template-columns: 100%;
    }
    
    .sidebar {
        left: -165px;
        z-index: 90;
    }
    
    header {
        left: 0;
        width: 100%;
    }
    
    .main-content {
        margin-left: 0;
        width: 100%;
    }
    
    #menu-toggle:checked ~ .sidebar {
        left: 0;
    }
    
    #menu-toggle:checked ~ .sidebar {
        width: 165px;
    }

    #menu-toggle:checked ~ .sidebar .side-header span {
        display: inline-block;
    }

    #menu-toggle:checked ~ .sidebar .profile,
    #menu-toggle:checked ~ .sidebar .side-menu a small {
        display: block;
    }

    #menu-toggle:checked ~ .sidebar .side-menu a span {
        font-size: 1.7rem;
    }
    
    #menu-toggle:checked ~ .main-content header {
        left: 0px;
    }
    
    table {
        width: 900px;
    }
	.add, .browse {
		margin-left: 10px;
	}
}












